<div *ngIf="offer.status === 'accepted'">
  <div class="panel panel-info col-sm-6 col-centered">
    <div class="panel-heading">
    <h2>Congratulations!</h2>
  </div>
  <div class="panel-body">
    <p>Your offer has been accepted.</p>
    <p> Please reach out to the following user to coordinate exchanging games:</p>
    <h3><a href="mailto:{{user.email}}?Subject=GameTradr%20-%20Trade%20for%20{{offer.game.name}}" target="_top">{{user.email}}</a></h3>
  </div>
</div>
</div>
<div *ngIf="offer.status === 'new'">
  <div class="panel panel-info col-sm-6 col-centered">
    <div class="panel-heading">
    <h2>Patience...</h2>
  </div>
  <div class="panel-body">
    <h4>Your offer is pending acceptance.</h4>
    <p>Once your offer is accepted, check back here to see how to contact the owner!</p>
    <button class="btn btn-primary" (click)="goBack()">Back</button>
  </div>
  <div class="panel-body">
    <h4>Want to cancel?</h4>
    <p>Offers can be cancelled anytime before they are accepted or declined.<br>This will delete the offer forever.</p>
    <button class="btn btn-danger" (click)="cancelOffer()">Cancel Offer</button>
  </div>
</div>
</div>
