/* You can add global styles to this file, and also import other style files */
body { padding-top: 50px; }
.row-centered {
    text-align:center;
}
.col-centered {
    display:inline-block;
    float:none;
    /* inline-block space fix */
    margin-right:-4px;
    margin-bottom: 15px;
}
.mask{
  max-width: 100%
}
.alert-nobottom-margin{
  margin-bottom:0;
}
