<!-- <ul>
  <li *ngFor="let listing of listings">
    {{listing.game.name}} ({{listing.game.system}}) for {{listing.wanted.name}} ({{listing.wanted.system}})
    <button (click)="onDelete(listing)">Delete</button>
    <button (click)="onEdit(listing)">Edit</button>
  </li>
</ul> -->
<button routerLink="/new-listing">New Listing</button>

<div class="well" *ngFor="let listing of listings">
  <div class="container">
    <div class="row text-center">
    <div class="panel panel-default col-xs-6">
      <div class="panel-heading">Trading</div>
      <div class="panel-body">
        Game: {{listing.game.name}} <br>
        System: {{listing.game.system}}
      </div>
    </div>

    <div class="panel panel-default col-xs-6">
      <div class="panel-heading">Wanted</div>
      <div class="panel-body">
        Game: {{listing.wanted.name}} <br>
        System: {{listing.wanted.system}}
      </div>
    </div>
  </div>
  <div class="row">
    <button class="btn btn-danger btn-xs"(click)="onDelete(listing)">Delete</button>
    <button class="btn btn-xs" (click)="onEdit(listing)">Edit</button>
  </div>
</div>
</div>
