.listing:hover{
  -moz-box-shadow:    3px 3px 5px 6px #ccc;
  -webkit-box-shadow: 3px 3px 5px 6px #ccc;
  box-shadow:         3px 3px 5px 6px #ccc;
}

.game{
  margin-bottom: 0;

}

.row.is-flex {
  display: flex;
  flex-wrap: wrap;
}
.row.is-flex > [class*='col-'] {
  display: flex;
  flex-direction: column;
}


.is-flex .box {
  background: none;
  position: static;
}
.is-flex [class*="col-"] {
  background: #fff;
}
