

<div *ngIf="loggedIn()">
  <div>
    <h3> Have a game to trade?</h3>
    <button class="btn btn-primary" routerLink="/new-listing" >Add New Listing</button>
  </div>
<br>
</div>
<div *ngFor="let listing of listings">
  <div class="container">
    <div class="row text-center">
    <div class="panel panel-default col-xs-6">
      <div class="panel-heading">Trading</div>
      <div class="panel-body">
        Game: {{listing.game.name}} <br>
        System: {{listing.game.system}}
      </div>
    </div>

    <div class="panel panel-default col-xs-6">
      <div class="panel-heading">Wanted</div>
      <div class="panel-body" *ngFor="let game of listing.wanted">
        Game: {{game.name}} <br>
        System: {{game.system}}
      </div>
    </div>
    <button style="margin-top:-20px" class="btn btn-danger"(click)="onDelete(listing)">Delete</button>
  </div>

  <br>
</div>
</div>
