<div class="wrapper">
<div class="container">
  <div class="jumbotron">
    <h1>GameTradr</h1>
    <h2>Simple 1 for 1 game trading.</h2>
  </div>
  <div class="panel panel-primary">
    <div class="panel-heading"><h3>Trade your used games</h3></div>
    <div class="panel-body box">
      <h3></h3>
      <h4>Create a listing of a game you want to trade and what games you'd accept in return</h4>
      <br>
      <h4>Browse listings created by other gamers</h4>
      <br>
      <h4>See a game you want? Make an offer!</h4>
    </div>
  </div>
  <div>
    <button class="btn btn-primary" routerLink="/login" *ngIf="!loggedIn()">Sign-In</button><button class="btn btn-primary" routerLink="/listings">Browse Listings</button>
  </div>
</div>
</div>
