<div>
  <h3>Offers You've Made</h3>
</div>
<div class="container offer" *ngFor="let offer of offers">
  <div>Date: {{offer.createdAt | date:'shortDate'}}</div>
  <div class="panel panel-info col-sm-4 col-md-4 col-lg-6 col-centered game">
    <div class="panel-heading">You Offered:</div>
    <div class="panel-body">
      Game: {{offer.offeredGame.name}}<br>
      System: {{offer.offeredGame.system}}
    </div>
  </div>
  <div class="panel panel-info col-sm-4 col-md-4 col-lg-6 col-centered game">
  <div class="panel-heading">In Exchange For:</div>
  <div class="panel-body">
    Game: {{offer.game.name}}<br>
    System: {{offer.game.system}}
  </div>
</div>
<div class="overlay col-sm-4 col-md-4 col-lg-6 col-centered"></div>
<div class="button col-sm-4 col-md-4 col-lg-6 col-centered"><button class="btn btn-danger" (click)="cancelOffer(offer.id)">Cancel</button></div>
</div>
