<div>
  <h3 class="white-text">Offers You've Made</h3>
</div>
<div *ngIf="offers.length === 0">
  <h4>You haven't made any offers:(</h4>
</div>
<div class="panel container offer" *ngFor="let offer of offers">
  <div></div>
  <div *ngIf="offer.status == 'new'" class="alert alert-info alert-nobottom-margin">
    <h4 class="offer-header">Date Created: {{offer.createdAt | date:'shortDate'}}</h4>
    <h4 class="offer-header">Status: Pending</h4></div>
  <div *ngIf="offer.status == 'declined'" class="alert alert-danger alert-nobottom-margin">
    <h4 class="offer-header">Date Created: {{offer.createdAt | date:'shortDate'}}</h4>
    <h4 class="offer-header">Status: Declined</h4>
  </div>
  <div *ngIf="offer.status == 'accepted'" class="alert alert-success alert-nobottom-margin">
    <h4 class="offer-header">Date Created: {{offer.createdAt | date:'shortDate'}}</h4>
    <h4 class="offer-header">Status: Accepted</h4></div>
  <div class="col-sm-4 col-md-4 col-lg-6 col-centered game">
    <div><h4>You Offered:</h4></div>
    <div class="panel-body">
      {{offer.offeredGame.name}}<br>
      {{offer.offeredGame.system}}
    </div>
  </div>
  <div class="col-sm-4 col-md-4 col-lg-6 col-centered game">
  <div><h4>In Exchange For:</h4></div>
  <div class="panel-body">
    {{offer.game.name}}<br>
    {{offer.game.system}}
  </div>
</div>
<div *ngIf="offer.status == 'accepted' || offer.status == 'new'" class="overlay col-sm-4 col-md-4 col-lg-6 col-centered"></div>
<div *ngIf="offer.status == 'accepted' || offer.status == 'new'" class="button col-sm-4 col-md-4 col-lg-6 col-centered"><button class="btn btn-primary" (click)="viewOffer(offer.id)">Details</button></div>
<div><br></div>
</div>
